@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700");
@import url("/fonts/JetBrainsMono/font.css");

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
span,
div {
  line-height: 1;
  font-family: Noto Sans TC, Din, Microsoft JhengHei, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
